body {
    margin: 0;
    padding: 0;
    background: #111;
}

.close-btn:hover {
    background-color: #EE4B2B !important;
}

.edit-text {
    background-color: transparent;
}

.editing-text {
    background-color: white;
}

.card-visual {
    max-height: 155px;
}

.edit-content {
    width: 100%;
    max-height: 120px;
    overflow-y: hidden !important;
    overflow-x: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    resize: none;
    scrollbar-gutter: stable;
}

.edit-content:hover {
    overflow-y: auto !important;
}