body {
    margin: 0;
    padding: 0;
    background: #111;
}

.close-btn:hover {
  background-color: #EE4B2B !important;
}

.edit-text {
    background-color: transparent;
}

.editing-text {
    background-color: white;
}
